  <nav>
    <div class="nav-wrapper tk-museo">
      <a href="/" class="brand-logo"><img class="logo" src="/images/logo-bar.png"></a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="<%= page != "/home" || "active"%>"><a class="waves-effect waves-light" href="home">Home</a></li>
        <li class="<%= page != "/about" || "active"%>"><a class="waves-effect waves-light" href="about">About</a></li>
        <li class="<%= page != "/gallery" || "active"%>"><a class="waves-effect waves-light" href="gallery">Gallery</a></li>
        <li class="<%= page != "/contact" || "active"%>"><a class="waves-effect waves-light" href="contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li class="<%= page != "/home" || "active"%>"><a class="waves-effect waves-light" href="home">Home</a></li>
        <li class="<%= page != "/about" || "active"%>"><a class="waves-effect waves-light" href="about">About</a></li>
        <li class="<%= page != "/gallery" || "active"%>" ><a class="waves-effect waves-light" href="gallery">Gallery</a></li>
        <li class="<%= page != "/contact" || "active"%>"><a class="waves-effect waves-light" href="contact">Contact</a></li>
      </ul>
    </div>
  </nav>